################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlackHole/.vs/BlackHole/DesignTimeBuild
/BlackHole/.vs/BlackHole/v17
/BlackHole/.vs/ProjectEvaluation
/BlackHole/obj
/BlackHole/.vs/BlackHole/FileContentIndex/5e4c6cf3-61dc-456c-9898-473b7eb95577.vsidx
/BlackHole/.vs/BlackHole/FileContentIndex/9517ef66-8597-442e-a35f-f22d5d0f75ee.vsidx
/BlackHole/.vs/BlackHole/FileContentIndex/59b2131d-364e-48b2-a879-949608073bbb.vsidx
/BlackHole/.vs/BlackHole/FileContentIndex/7f4edcc0-5978-44af-bf6b-d31f8efaec87.vsidx
